@import './sass/colors';
@import './sass/mixins';

.HowItWorksPage {
  $item-bg-colors: (
          blue: #66ACFF,
          green: #6DD091,
          yellow: #F4D462,
          pink: #A18CD9,
          purple: #F188A8,
  );

  font-family: 'Mulish', sans-serif;

  .PageTitle {
    color: $black;
    max-width: 1100px;
    line-height: 67px;
    margin: 40px auto 0;
    font-size: 48px;

    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 1;
    }
  }

  .PageSubtitle {
    color: #838383;
    max-width: 650px;
    margin-top: 25px;
    font-size: 24px;
    line-height: 34px;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &-Section {
    background-color: #F2F8FF;
    margin-top: 40px;
    padding-top: 40px;

    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      padding-top: 80px;
    }
  }

  &-SectionTitle {
    margin: 0 0 40px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin: 0 0 80px;
    }
  }

  &-Column {
    flex: 75%;

    &_image {
      flex: 25%;

      @include media-breakpoint-down(md) {
        max-width: 260px;
        margin: 0 auto;
        order: 1;
      }
    }
  }

  &-BlockTitle {
    margin: 0;
    color: $black;
    font-size: 48px;
    font-weight: 800;
    max-width: 570px;
    line-height: 67px;

    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 1;
    }
  }

  &-Image {
    width: 20%;
    display: inline-block;
    float: left;
    max-width: 136px;
  }

  &-Block {
    width: 80%;
    display: inline-block;
    float: left;
    margin-top: 37px;
    margin-left: -42px;
  }

  &-BlockDescription {
    margin: 32px 0 0;
  }

  &-Content {
    max-width: 1100px;
    margin: 0 auto;
  }

  &-Title {
    text-align: center;
    margin: 0 auto 70px;
    font-size: 45px;
  }

  &-Item {
    display: flex;
    margin-bottom: 45px;
  }

  &-Footer {
    background-color: #171634;
    padding-top: 60px;
    padding-bottom: 60px;

    .GradientButton {
      background: linear-gradient(180deg, #66ACFF 0%, #0075FF 100%);
      margin-top: 10px;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
    }
  }

  &-FooterDescription {
    color: #F8F8F8;
    font-size: 16px;
    max-width: 415px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
      max-width: 650px;
      font-size: 24px;
      line-height: 34px;
    }
  }

  &-FooterTitle {
    margin: 0;
    max-width: 415px;

    &.Title {
      color: #FFF;
    }
  }

  &-FooterRow {
    display: flex;
  }

  &-FooterColumn {
    &_left {
      flex: 55%;
    }

    &_right {
      flex: 45%;

      img {
        width: 360px;
      }
    }
  }
}